<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= title %>
    </title>
    <script>
        function postid(clicked_id){
         var form = document.createElement("form");
         form.setAttribute("method", "post");
         form.setAttribute("action","/adddir1");
         document.body.appendChild(form);

         var insert = document.createElement('input');
         insert.setAttribute("type","hidden");
         insert.setAttribute("name","test2");
         insert.setAttribute("value",clicked_id);
         form.appendChild(insert);
         form.submit();
        }
    </script>
  </head>
  <body>
    <form name="search_form" action="/search1" method="post">
      <input type="text" name="test1"/>
      <button type="submit" value=OK>OK</button><br>
      <br>
    </form>
    <form class="login-form", action="/logout", method="get">
      <button type="submit" value=OK>OK</button>
    </form>
      <button onclick="movepage()">Move</button>
    <script>
      function movepage(){
        location.href = "/mydir";
      }
    </script>
    <br>
    <form>
    <% if(locals.data){%>
      <table border=1px solid black>
        <tr>
          <td>Title</td>
          <td>설명</td>
          <td>영상</td>
          <td>이미지</td>
          <td>단어장 추가</td>
        </tr>
        <% for(let i = 0; i<data.length; i++){%>
          <tr>
            <td><%=data[i].title%></td>
            <td><%=data[i].des%></td>
            <td><video src=<%=data[i].video%> autoplay="autoplay"></video></td>
            <td><img src=<%=data[i].img%>></img></td>
            <td><input type="button" class="tdclass" id=<%=data[i].slid%> onclick="postid(this.id)">추가</input></td>
          </tr>
          <%}%>
        <%}%>
      </table>
    </form>

  </body>

</html>
